<h1>Keywords
    <div class="btn-group pull-right" role="group">
        <button type="button" class="btn btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-outline-secondary">Export</button>
    </div>
</h1>
<hr>

<p class="lead">
    Keywords are reserved words that have special meaning for compiler.
</p>

<table class="table table-condensed" style="width: 100%; font-size: 15px;">
    <tbody>
        <tr>
            <td>async</td>
            <td>is used to specify that a method is asynchronous</td>
        </tr>
        <tr>
            <td>await</td>
            <td>suspends evaluation of the async method</td>
        </tr>
        <tr>
            <td>override</td>
            <td>is used to extend or modify the abstract implementation of a base class method</td>
        </tr>
        <tr>
            <td>sealed</td>
            <td>modifier prevents other classes from inheriting from the class</td>
        </tr>
        <tr>
            <td>static</td>
            <td>modifier makes an class non-instantiable. static when applied to variable,
                method, they can be accessed without creating an object of the class.</td>
        </tr>
        <tr>
            <td>event</td>
            <td>is a notification sent by an object</td>
        </tr>
        <tr>
            <td>enum</td>
            <td>is used to declare a list of named integer constants like traffic lights, weekdays, months</td>
        </tr>
    </tbody>
</table>