<h1>Delegates
  <div class="btn-group pull-right" role="group">
    <button type="button" class="btn btn-outline-secondary">Share</button>
    <button type="button" class="btn btn-outline-secondary">Export</button>
  </div>
</h1>
<hr>
<p class="lead">
  Delegates are used when we want to pass a method/function as a parameter using 'delegate' keyword.
</p>
<h5>Scenario</h5>
<ul>
  <li>I want you to write a method in the Employee class, which can be used to promote employees.</li>
  <li>The logic based on which the employee gets promoted should not be hard coded because we may promote employees
    based on their experience and at times we may promote them based on their salary or may be some other condition.
  </li>
  <li>By implementing delegates here, anyone who uses the Employee class will have the flexibility of determining the
    logic on how they want to promote their employees</li>
</ul>
<h5>Advantages</h5>
<ul>
  <li>Delegates are type safe.</li>
  <li>Delegate instances attach or detach a method at run time making it more dynamic and flexible to use</li>
  <li>Delegates can invoke more than one method using the Multicast feature</li>
</ul>