<div [@FadeInAnimation] class="container-fluid">
    <div class="row">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar collapse-active">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="mb-1" *ngFor="let item of sqlmenu.individual;">
                        <a [routerLinkActive]=item.routerLinkActive
                            [routerLink]=item.route>{{item.name | trimSubMenu}}</a>
                    </li>
                    <li> <a data-toggle="collapse" data-target="#sqlmisc" class="collapsed active"> <span
                                class="nav-label">Misc</span> <span class="fa fa-chevron-right pull-right"></span>
                        </a>
                        <ul class="sub-menu collapse" id="sqlmisc">
                            <li class="mb-1" *ngFor="let item of sqlmenu.groups;">
                                <a [routerLinkActive]=item.routerLinkActive
                                    [routerLink]=item.route>{{item.name | trimSubMenu}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="mainContent col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <router-outlet (activate)="onActivate()"></router-outlet>
        </div>

    </div>
</div>