<h1>Caching
  <div class="btn-group pull-right" role="group">
    <button type="button" class="btn btn-outline-secondary">Share</button>
    <button type="button" class="btn btn-outline-secondary">Export</button>
  </div>
</h1>
<hr>
<p class="lead">
  Caching is a technique for storing frequently used data in the memory.
</p>
<h5>Five Ways</h5>
<ul>
  <li>Output Caching: Stores the final rendered html pages. This occurs on client side</li>
  <li>Data Caching: Caching the data from the data source. This occurs on client side</li>
  <li>Object Caching: Caching the object on the pages such as databound controls. This occurs on server side</li>
  <li>Class Caching: Caches compiled pages in the assembly. This occurs on server side</li>
  <li>Configuration Caching: Caches application wide configuration information. This occurs on server side</li>
</ul>