<div class="card-pody m-5 p-5">
    <!-- <div class="card-pody m-5 p-5"></div> -->
    <h5>JIT</h5>
    <ul>A JIT compiler runs after the program has started and compiles the code on the fly</ul>
    <h5>AOT</h5>
    <ul> pre-compiles application components and their templates during the build process</ul>
    <h5>Codelyzer</h5>
    <ul>Static code analysis tool follows rules in tslint.json</ul>
    <h5>Ivy</h5>
    <ul>Ivy takes all the HTML and generates the necessary JS code</ul>
    <h5>Basel</h5>
    <ul>Bazel is a powerful tool which can keep track of the dependencies between different packages and build targets.</ul>
    <h5>Service worker</h5>
    <ul>Service worker is a script that runs in the web browser and manages caching for an application.</ul>
    <h5>How to detect a route change</h5>
    <ul>We can subscribe (Rx event) to a Router instance</ul>
    <h5>Zone</h5>
    <ul>Angular's change detection is heavily dependent on Zones. We use Zone.Js library</ul>
    <h5>Angular equivalent to an AngularJS "$watch"</h5>
    <ul>'set' syntax from ES6</ul>
    <h5>How to prevent security threads in Angular App</h5>
    <ul>
        <li>Avoid using/injecting dynamic HTML content to your component.</li>
        <li>If using external HTML which is coming from database or somewhere outside the application, sanitize it before using</li>
        <li>Try not to put external urls in the application unless it is trusted. Avoid url re-direction unless it is trusted.</li>
    </ul>
    <h5>How to optimize Angular app?</h5>
    <ul>
        <li>Consider lazy loading instead of fully bundled app if the app size is more.</li>
        <li>Make sure that any 3rd party library, which is not used, is removed from the application.</li>
        <li>Have all dependencies and dev-dependencies clearly separated.</li>
        <li>Consider AOT compilation.</li>
    </ul>
</div>