<h1>Events
  <div class="btn-group pull-right" role="group">
    <button type="button" class="btn btn-outline-secondary">Share</button>
    <button type="button" class="btn btn-outline-secondary">Export</button>
  </div>
</h1>
<hr>
<p class="lead">
  An event is an action or occurrence such as a mouse click, a key press, mouse movements.
</p>
<h5>Application and Session Events</h5>
<ul>
  <li>Application_Start - It is raised when the application/website is started.</li>
  <li>Application_End - It is raised when the application/website is stopped.</li>
  <li>Session_Start - It is raised when a user first requests a page from the application.</li>
  <li>Session_End - It is raised when the session ends.</li>
</ul>
<h5>Page and Control Events</h5>
<ul>
  <li>DataBinding - It is raised when a control binds to a data source.</li>
  <li>Disposed - It is raised when the page or the control is released.</li>
  <li>Init - It is raised when the page or the control is initialized.</li>
  <li>Error - It is a page event, occurs when an unhandled exception is thrown.</li>
  <li>Load - It is raised when the page or a control is loaded.</li>
  <li>PreRender - It is raised when the page or the control is to be rendered.</li>
  <li>Unload - It is raised when the page or control is unloaded from memory.</li>
</ul>
<p>Common control events are SelectedIndexChanged, click, TextChanged, CheckedChanged</p>