<h1>Constraints
  <div class="btn-group pull-right" role="group">
    <button type="button" class="btn btn-outline-secondary">Share</button>
    <button type="button" class="btn btn-outline-secondary">Export</button>
  </div>
</h1>
<hr>
<p class="lead">
  Constraints are the rules that we can apply on the type of data in a table.
</p>
<p>We can specify constraints at the time of creating table(CREATE) or after creating the table(ALTER)</p>
<li style="padding-left: 20px; display:block">
  <pre>{{constraintSyntax}}</pre>
</li>
<p>Available constraints in SQL are</p>
<ul>
  <li>NOT NULL: This constraint tells that we cannot store a null value in a column. That is, if a column is specified
    as NOT NULL then we will not be able to store null in this particular column any more. </li>
  <li>UNIQUE: This constraint when specified with a column, tells that all the values in the column must be unique.
    That is, the values in any row of a column must not be repeated. </li>
  <li>PRIMARY KEY: A primary key is a field which can uniquely identify each row in a table. And this constraint is
    used to specify a field in a table as primary key. </li>
  <li>FOREIGN KEY: A Foreign key is a field which can uniquely identify each row in a another table. And this
    constraint is used to specify a field as Foreign key. </li>
  <li>CHECK: This constraint helps to validate the values of a column to meet a particular condition. That is, it
    helps to ensure that the value stored in a column meets a specific condition. </li>
  <li>DEFAULT: This constraint specifies a default value for the column when no value is specified by the user. </li>
</ul>