<h1>Triggers
  <div class="btn-group pull-right" role="group">
    <button type="button" class="btn btn-outline-secondary">Share</button>
    <button type="button" class="btn btn-outline-secondary">Export</button>
  </div>
</h1>
<hr>
<p class="lead">
  A trigger is a stored procedure in database which automatically invokes whenever a special event in the database
  occurs
</p>
<p>
  For example, a trigger can be invoked when a row is inserted into a specified table or when certain table columns
  are being updated.
</p>
<li style="padding-left: 20px; display:block">
  <pre>{{triggerSyntax}}</pre>
</li>
<ul>
  <li>create trigger [trigger_name]: Creates or replaces an existing trigger with the trigger_name.</li>
  <li>[before | after]: This specifies when the trigger will be executed. </li>
  <li>&#123;insert | update | delete&#125;: This specifies the DML operation. </li>
  <li>on [table_name]: This specifies the name of the table associated with the trigger. </li>
  <li>[for each row]: This specifies a row-level trigger, i.e., the trigger will be executed for each row being
    affected. </li>
  <li>[trigger_body]: This provides the operation to be performed as trigger is fired </li>
</ul>