<h1>Log4net
  <div class="btn-group pull-right" role="group">
    <button type="button" class="btn btn-outline-secondary">Share</button>
    <button type="button" class="btn btn-outline-secondary">Export</button>
  </div>
</h1>
<hr>

<!-- https://stackify.com/log4net-guide-dotnet-logging/ -->
<!-- https://dillieodigital.wordpress.com/2009/05/07/log4net-a-quick-start-guide/ -->
<!-- https://csharp.today/log4net-tutorial-great-library-for-logging/ -->
<!-- https://blog.elmah.io/log4net-tutorial-the-complete-guide-for-beginners-and-pros/ -->
<!-- https://medium.com/@mohamedabdeen/a-complete-guide-to-manage-your-net-net-core-applications-logging-using-log4net-27d98a1793e5 -->