<h1>Master Pages
  <div class="btn-group pull-right" role="group">
    <button type="button" class="btn btn-outline-secondary">Share</button>
    <button type="button" class="btn btn-outline-secondary">Export</button>
  </div>
</h1>
<hr>
<p class="lead">
  Master pages allow you to create a consistent look and behavior for all the pages (or group of pages) in your web
  application.
</p>
<ul>
  <li>When creating content page, we can select the master page and ASP.NET combines the layout of the master page
    with content page.</li>
  <li>The master page above is a normal HTML page designed as a template for other pages.</li>
  <li>The @Master directive defines it as a master page.</li>
  <li>Note: The master page can also contain code, allowing dynamic content.</li>
</ul>