<h1>Exception Handling
  <div class="btn-group pull-right" role="group">
    <button type="button" class="btn btn-outline-secondary">Share</button>
    <button type="button" class="btn btn-outline-secondary">Export</button>
  </div>
</h1>
<hr>
<p class="lead">
  Exception Handling is implemented to prevent crashing of program.
</p>
<h5>Keywords</h5>
<ul>
  <li><b>Try:</b> block that contains actual code/logic</li>
  <li><b>Catch:</b> block that catches exceptions like IndexOutOfRangeException, NullReferenceException,
    InvalidCastException
    and handles it</li>
  <li><b>Finally:</b> block that is used to execute logic, whether an exception is thrown or not thrown.</li>
  <li><b>Throw:</b> keyword used to throw an exception explicitly</li>
</ul>
<h5>Advantages</h5>
<ul>
  <li>Separating Error Handling Code from Regular Code.</li>
</ul>