<h1>Abstraction
  <div class="btn-group pull-right" role="group">
    <button type="button" class="btn btn-outline-secondary">Share</button>
    <button type="button" class="btn btn-outline-secondary">Export</button>
  </div>
</h1>
<hr>
<p class="lead">Abstraction is a principle used to hide the implementation details and display only essential features
  of the
  object.</p>
<ul>
  <li>We can acheive abstraction by using 'abstract' keyword for a class/method.</li>
  <li>Abstract methods will not have implementation.</li>
  <li>We need to write the implementation in a method with same name in derived class.</li>
</ul>
<h5>Advantages</h5>
<ul>
  <li>Reduces complexity.</li>
  <li>Avoids code duplication.</li>
  <li>Increases reusability and security of the application.</li>
</ul>
<div class="card-body">
  <pre>{{code}}</pre>
  <pre>{{output}}</pre>
</div>