<h1>Building Blocks
  <div class="btn-group pull-right" role="group">
    <button type="button" class="btn btn-outline-secondary">Share</button>
    <button type="button" class="btn btn-outline-secondary">Export</button>
  </div>
</h1>
<hr>

<p class="lead">
  The standard SQL commands to interact with relational databases are CREATE, SELECT,
  INSERT, UPDATE, DELETE and DROP.
</p>
<h5>Groups</h5>
<p>DDL- Data Defination Language</p>
<table class="table table-condensed border" style="width: 40%; font-size: 15px;">
  <tbody>
    <tr>
      <td class="border-right font-weight-bold" style="width: 10%; border: 0;">Create</td>
      <td style="width: 70%; border: 0;">Creates new table, function, view, SP etc..</td>
    </tr>
    <tr>
      <td class="border-right font-weight-bold" style="width: 10%; border: 0;">Alter</td>
      <td style="width: 70%; border: 0;">Modifies an exsisting DB object</td>
    </tr>
    <tr>
      <td class="border-right font-weight-bold" style="width: 10%; border: 0;">Drop</td>
      <td style="width: 70%; border: 0;">Deletes an entire table, views etc..</td>
    </tr>
  </tbody>
</table>
<p>DML- Data Manipulation Language</p>
<table class="table table-condensed border" style="width: 40%; font-size: 15px;">
  <tbody>
    <tr>
      <td class="border-right font-weight-bold" style="width: 10%; border: 0;">Select</td>
      <td style="width: 70%; border: 0;">Retrieves certain records from one or more table</td>
    </tr>
    <tr>
      <td class="border-right font-weight-bold" style="width: 10%; border: 0;">Insert</td>
      <td style="width: 70%; border: 0;">Creates records</td>
    </tr>
    <tr>
      <td class="border-right font-weight-bold" style="width: 10%; border: 0;">Update</td>
      <td style="width: 70%; border: 0;">Modifies records</td>
    </tr>
    <tr>
      <td class="border-right font-weight-bold" style="width: 10%; border: 0;">Delete</td>
      <td style="width: 70%; border: 0;">Deletes records</td>
    </tr>
  </tbody>
</table>
<p>DCL- Data Control Language</p>
<table class="table table-condensed border" style="width: 40%; font-size: 15px;">
  <tbody>
    <tr>
      <td class="border-right font-weight-bold" style="width: 10%; border: 0;">Grant</td>
      <td style="width: 70%; border: 0;">Gives a privilage to user</td>
    </tr>
    <tr>
      <td class="border-right font-weight-bold" style="width: 10%; border: 0;">Revoke</td>
      <td style="width: 70%; border: 0;">Remove previlage from user.</td>
    </tr>
  </tbody>
</table>