<div class="card-body m-5 p-5">

    <h5>What is important for Software Architecture for a full stack developer ?</h5>
    <ul>
        <li>So we can make early design decisions </li>
        <li>Higher productivity </li>
        <li>Better code maintainability </li>
        <li>Higher adaptability </li>
        <li>software architecture creates a clear separation of concerns. </li>
        <li>solid foundation for the software project </li>
    </ul>
    <h5>What is more important Maintainable Code or Code that meets the Requirements?</h5>
    <ul>
        <li>Personally, I would place them next to one another meaning code maintainability is as important as meeting
            business requirements. But if we write code that is maintainable, it will become a standard for years to
            come.</li>
    </ul>
    <h5>How do you write Clean Code?  What do you like to see in Clean Code? </h5>
    <ul>
        <li>Proper exception handling</li>
        <li>Resuability of code</li>
        <li>Implementing SOLID principles</li>
        <li>Following Naming conventions</li>
        <li>Usage of strongly typed datatypes</li>
    </ul>
    <h5>When you create tables in SQL Server what are the main things that need to be taken care of?</h5>
    <ul>
        <li>Make sure you use date columns for dates, integer type columns for whole numbers that might have math done
            to them, VARCHAR when data width will vary, and NVARCHAR if you need to store more than one language.</li>
        <li>Make sure to use third normal form--basically, avoid repetition of columns in the table</li>
        <li>Make sure all your tables have a primary key and foreign key(optionsal)</li>
        <li>Creating indexes on all primary keys</li>
        <li>Apply Constraints on column</li>
    </ul>
    <h5>Explain about Breaking changes and Non breaking changes? How do you achieve it?</h5>
    <ul>
        <li>Breaking changes</li>
        <ul>
            <li>Addition of a new required input parameter(in SP)</li>
            <li>Removal of an existing input parameter (whether required or optional)</li>
            <li>Deprecation of a service(ActivePDF tool for encryptpdf -> encryptfile)</li>
            <li>Changing the name or data type of an existing input parameter or output value</li>
        </ul>
        <li>Non Breaking changes</li>
        <ul>
            <li>Addition of a new optional parameter at the end of the list of input parameters</li>
            <li>Addition of new fields in the api response</li>
            <li>A change in behavior to fix a bug in the service</li>
            <li>Addition of a new endpoint in the existing web api</li>
        </ul>
    </ul>

    <h5>Team lead</h5>
    <ul>
        <li>I acted both as a techincal lead and administrative lead</li>
        <li>When ever we get a new project, I will sit with UI architect and product owner to build screens and wireframes. Then I will build layouts for whole application. So that every developer will have a starting point. This saved a lot of time and budget</li>
        <li>Making sure the team will follow high-quality development principles while delivering solutions on-time and on-budget</li>
        <li>Analyze and resolve technical and application problems.</li>
        <li>Delegating tasks to the right individual</li>
        <li>Collaborate with other software developers, business analysts and software architects to plan, design, develop, test, and maintain web-and desktop-based business applications </li>
        <li>Participate in peer-reviews of solution designs and related code.</li>
        <li>Decision making at design phase with product owner and business user</li>
        <li>mentoring interns and junior developers</li>
        <li>Ensure the team is collaborating closely with our customers and understands their requirements</li>
        <li>Maintaining high standards of software quality within the team by establishing coding standards</li>
        <li>one-on-one meetings to discuss developer issues</li>
        <li>Ensure that holidays & sickness are managed, tracked and considered in planning.</li>
        <li>leading/driving scrum meetings</li>
        <li>Built UI and api application architecture, folder setup. So developers can start from the setup</li>
        <li>Prepare reports, manuals and other documentation on the status, operation and maintenance of software.</li>
        <li>providing weekly updates to manager regarding the project and team overall status</li>
        <li>meeting with vendor about their product and decisions</li>
        <li>Reviewing and approving code pull requests</li>
        <li>Package and support deployment of releases. Handling releases and release documentation</li>
        <li>Documenting development plan and test plan before sprint review</li>
        <li>At the start of the sprint, I will guide them or provide path on how to approach certain stories</li>
        <li>I will research on new industry leading technologies and how they can be used in our project</li>
        <li>Building POC and present the demo to architects and board members</li>
    </ul>

    <h5>Any questions</h5>
    <ul>
        <li>What's the team size?</li>
        <li>I know we are wrapping this up but I have one last question - Do you have any concerns about me taking this job? Coz I like the job duties for this position and I want this job.
        <li>What is the project's tech stack?</li>
        <li>What design pattern you guys follow ?</li>
        <li>Do you have a separate ui/ux guy who does all the UI stuff like templating, protoyping ?</li>
        <li>Do you provide VM? meaning can I work through a VM. the reason I asked is at Sammons, all developers are
            alloted a vm, and we can login to that vm through citrix from any machine. We moved to Vm last year, because
            within span of a month or so. Myself and my colleague's laptops are crashed and we lost all the data. We got
            new laptops in a week or so and setting up the machine took one more week. So everything was moved over to
            vm. No loss of data and can be more productive. </li>
    </ul>

    <!-- In Point of Unit Testing what are your Major / critical Priorities?
CI/CD
Do you have any idea about feature flags for your code?
What do you do to achieve Maximum Code Coverage and What is the percentage?
Tell me about Unit testing and How do you do it?
Entity Framework Approaches Advantages and Disadvantages?
What is Dependency Injection and Advantages of using it?
What the difference between a reference type and a value type.
What is the difference between a Class and a Struct.
What is a Namespace used for?
What is Polymorphism.
What is Inheritance. -->

</div>