<h1>Access Modifiers
    <div class="btn-group pull-right" role="group">
        <button type="button" class="btn btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-outline-secondary">Export</button>
    </div>
</h1>
<hr>
<table class="table table-condensed border" style="width: 100%; font-size: 15px;">
    <tbody>
        <tr>
            <td class="border-right font-weight-bold" style="width: 10%; border: 0;">public</td>
            <td style="width: 70%; border: 0;">is accessible anywhere.</td>
        </tr>
        <tr>
            <td class="border-right font-weight-bold" style="width: 10%; border: 0;">private</td>
            <td style="width: 70%; border: 0;">is only accessible within the same class.</td>
        </tr>
        <tr>
            <td class="border-right font-weight-bold" style="width: 10%; border: 0;">internal</td>
            <td style="width: 70%; border: 0;">is only accessible within its own assembly.</td>
        </tr>
        <tr>
            <td class="border-right font-weight-bold" style="width: 10%; border: 0;">protected</td>
            <td style="width: 70%; border: 0;">is accessible within the same class and also derived class.</td>
        </tr>
        <tr>
            <td class="border-right font-weight-bold" style="width: 10%; border: 0;">protected internal</td>
            <td style="width: 70%; border: 0;">is accessible anywhere within the same assembly and derived class in
                another assembly.</td>
        </tr>
    </tbody>
</table>