<h1>Data Binding
    <div class="btn-group pull-right" role="group">
        <button type="button" class="btn btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-outline-secondary">Export</button>
    </div>
</h1>
<hr>
<p class="lead">
    Data binding allows to define communication between a component and the DOM
</p>
<h5>Four Ways</h5>
<ul>
    <li>String Interpolation</li>
    <li style="padding-left: 20px; display: block;">
        <pre>{{interpolation}}</pre>
    </li>
    <li>Event binding: Whenever input event is fired, expression/method will be executed.</li>
    <li style="padding-left: 20px; display: block;">
        <pre>{{eventBinding}}</pre>
    </li>
    <li>Property binding: The way of binding the value property of element with the variable name.</li>
    <li style="padding-left: 20px; display: block;">
        <pre>{{propertyBinding}}</pre>
    </li>
    <li>Two-way data binding: For this we use [(ngModel)]. To use ngModel directive, we need to import FormsModule.
    </li>
    <li style="padding-left: 20px; display: block;">
        <pre>{{twowayBinding}}</pre>
    </li>