<h1>Functions
  <div class="btn-group pull-right" role="group">
    <button type="button" class="btn btn-outline-secondary">Share</button>
    <button type="button" class="btn btn-outline-secondary">Export</button>
  </div>
</h1>
<hr>
<p class="lead">Sql has many built-in functions for doing operations on data.</p>
<h5>Aggreegate Functions</h5>
<span>Aggreegate Functions are used to do operations from the values of the column and a single value is
  returned.</span>
<table class="table table-condensed border" style="width: 80%; font-size: 15px;">
  <tbody>
    <tr>
      <td class="border-right font-weight-bold" style="width: 10%; border: 0;">AVG()</td>
      <td style="width: 70%; border: 0;">Returns average value after calculating from values in a numeric column</td>
    </tr>
    <tr>
      <td class="border-right font-weight-bold" style="width: 10%; border: 0;">COUNT()</td>
      <td style="width: 70%; border: 0;">Returns count of number of rows returned in a SELECT statement</td>
    </tr>
    <tr>
      <td class="border-right font-weight-bold" style="width: 10%; border: 0;">MAX()</td>
      <td style="width: 70%; border: 0;">Returns max value of the selected column</td>
    </tr>
    <tr>
      <td class="border-right font-weight-bold" style="width: 10%; border: 0;">MIN()</td>
      <td style="width: 70%; border: 0;">Returns min value of the selected column</td>
    </tr>
    <tr>
      <td class="border-right font-weight-bold" style="width: 10%; border: 0;">FIRST()</td>
      <td style="width: 70%; border: 0;">Returns first value of the selected column</td>
    </tr>
    <tr>
      <td class="border-right font-weight-bold" style="width: 10%; border: 0;">LAST()</td>
      <td style="width: 70%; border: 0;">Returns last value of the selected column</td>
    </tr>
    <tr>
      <td class="border-right font-weight-bold" style="width: 10%; border: 0;">SUM()</td>
      <td style="width: 70%; border: 0;">Returns the sum of all the values of the selected column</td>
    </tr>
  </tbody>
</table>
<h5>Scalar Functions</h5>
<span>These functions are based on user input, these too returns single value. </span>
<table class="table table-condensed border" style="width: 80%; font-size: 15px;">
  <tbody>
    <tr>
      <td class="border-right font-weight-bold" style="width: 10%; border: 0;">UCASE()</td>
      <td style="width: 70%; border: 0;">Converts the value of the field to upper case</td>
    </tr>
    <tr>
      <td class="border-right font-weight-bold" style="width: 10%; border: 0;">LCASE()()</td>
      <td style="width: 70%; border: 0;">Converts the value of the field to lower case</td>
    </tr>
    <tr>
      <td class="border-right font-weight-bold" style="width: 10%; border: 0;">Len</td>
      <td style="width: 70%; border: 0;">Returns the length of the value in a text field</td>
    </tr>
    <tr>
      <td class="border-right font-weight-bold" style="width: 10%; border: 0;">ROUND()</td>
      <td style="width: 70%; border: 0;">Used to round a numeric field to the number of decimals specified</td>
    </tr>
    <tr>
      <td class="border-right font-weight-bold" style="width: 10%; border: 0;">FORMAT()</td>
      <td style="width: 70%; border: 0;">Used to format how a field is to be displayed.</td>
    </tr>
    <tr>
      <td class="border-right font-weight-bold" style="width: 10%; border: 0;">NOW()</td>
      <td style="width: 70%; border: 0;">Returns the current system date and time</td>
    </tr>
  </tbody>
</table>
<h5>More Built-in Functions</h5>
<table class="table table-condensed border" style="width: 80%; font-size: 15px;">
  <tbody>
    <tr>
      <td class="border-right font-weight-bold" style="width: 10%; border: 0;">Concat</td>
      <td style="width: 70%; border: 0;">Adds two or more strings together</td>
    </tr>
    <tr>
      <td class="border-right font-weight-bold" style="width: 10%; border: 0;">Reverse</td>
      <td style="width: 70%; border: 0;">Reverses the string and returns</td>
    </tr>
    <tr>
      <td class="border-right font-weight-bold" style="width: 10%; border: 0;">Trim</td>
      <td style="width: 70%; border: 0;">Removes leading and trailing spaces</td>
    </tr>
    <tr>
      <td class="border-right font-weight-bold" style="width: 10%; border: 0;">Cast</td>
      <td style="width: 70%; border: 0;">Converts a value in to specified datatype</td>
    </tr>
    <tr>
      <td class="border-right font-weight-bold" style="width: 10%; border: 0;">Coalesce</td>
      <td style="width: 70%; border: 0;">Returns first non-null value in a list</td>
    </tr>
  </tbody>
</table>