<h1>Constructor and Destructor
  <div class="btn-group pull-right" role="group">
    <button type="button" class="btn btn-outline-secondary">Share</button>
    <button type="button" class="btn btn-outline-secondary">Export</button>
  </div>
</h1>
<hr>
<h2>Constructor</h2>
<p>Constructor is a special method that is used to initialize objects.</p>
<ul>
  <li>Constructor name must match the class name, and it cannot have a return type.</li>
  <li>Constructor is called when the class is instantiated.</li>
  <li>Constructor can also take parameters, which is used to initialize fields and saves time.</li>
  <li><b>Note:</b> Constructor cannot be static, abstract, final and synchronized.</li>
  <li><b>Note:</b> Constructor do not have a return type.</li>
</ul>
<h5>Advantages</h5>
<ul>
  <li>Proper intialization of an object is ensured.</li>
  <li>Eliminates placing the default values.</li>
</ul>
<h2 class="header">Destructor</h2>
<p>Destructor is a method used to destroy instance of that class.</p>
<ul>
  <li>There cannot be more than one destructor in a class</li>
  <li>Destructor is distinguished by '~' prefixed to its name</li>
  <li>Destructor cannot be overloaded or inherited and cannot accept any parameters or modifiers.</li>
</ul>
<pre>{{code}}</pre>
<pre>{{output}}"></pre>