<h1>Emails
  <div class="btn-group pull-right" role="group">
    <button type="button" class="btn btn-outline-secondary">Share</button>
    <button type="button" class="btn btn-outline-secondary">Export</button>
  </div>
</h1>
<hr>
<p class="lead">
  The .NET framework comes with an entire namespace for handling e-mails, the System.Net.Mail namespace.
</p>
<ul>
  <li>Two classes used are 'MailMessage' class, for the actual e-mail, and the 'SmtpClient' class, for sending the
    e-mail.</li>
  <li>Mails are sent through an SMTP server</li>
  <li>
    <pre>{{email}}</pre>
  </li>
  <li>To send complicated layouts in the email body, use below</li>
  <ul>
    <li style="padding-left: 20px; display:block">
      <pre>{{htmlemail}}</pre>
    </li>
  </ul>
</ul>